[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "git-modes"]
	path = git-modes
	url = https://github.com/magit/git-modes.git
[submodule "tramp"]
	path = tramp
	url = http://git.savannah.gnu.org/r/tramp.git
