[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "git-modes"]
	path = git-modes
	url = https://github.com/magit/git-modes.git
[submodule "tramp"]
	path = tramp
	url = http://git.savannah.gnu.org/r/tramp.git
[submodule "gnus"]
	path = gnus
	url = http://git.gnus.org/gnus.git
[submodule "j2m-tools"]
	path = j2m-tools
	url = https://github.com/jeremy-compostella/j2m-tools.git
[submodule "org-mode"]
	path = org-mode
	url = http://repo.or.cz/org-mode.git
[submodule "rscope"]
	path = rscope
	url = https://github.com/rjarzmik/rscope.git
